<article id="product-item" class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <div class="product-item-content">
        <h2><%= product.title %></h2>
    <div class="product-item-action">
        <% if (locals.isAdmin) { %> 
            <a class="btn btn-outline" href="/admin/products/<%= product.id %>">Aggiorna</a>
            <button class="btn btn-warning" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Elimina</button>
        <% } else { %>
                <a class="btn btn-outline" href="/products/<%= product.id %>">Vai al prodotto</a>
        <% } %> 
    </div>
    </div>
</article>