<%- include('../../shared/includes/head', { pageTitle: 'Il tuo carrello'}) %> 
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-management.js" defer></script>
</head>
<body>
    <%-  include('../../shared/includes/header') %> 
    <main>
        <ul id="cart-items">
            <% for (const cartItem of locals.cart.items) { %> 
                <li>
                    <%- include('includes/cart-item', { item: cartItem}) %> 
                </li>
            <% } %> 
        </ul>
        <div id="cart-total">
            <p>Totale: € <span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>
            <% if (locals.isAuth && locals.cart.totalQuantity > 0) { %>
                <form action="/orders" method="POST">
                    <%- include('../../shared/includes/csrf-token') %> 
                    <button class="btn">Acquista</button>
                </form>
            <% } else { %> 
            <p id="cart-total-fallback">Accedi e aggiungi prodotti per acquistare.</p>
            <% } %> 
        </div>
    </main>
    <%- include('../../shared/includes/footer') %> 
